body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-weight: normal;
    font-size: 50px;
}
a {
    display: block;
    color: aquamarine;
    font-size: 16px;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}
p {
    font-size: 21px;
    color: gray;
}
footer p{
    text-align: right;
}
/* #icon {
    margin-top: 30px;
} */